/05-09 Beolvasás Kiírás Gyakorlás Elágazás 1-2/build/
/05-09 Beolvasás Kiírás Gyakorlás Elágazás 1-2/nbproject/private/
/10-12 Elágazás 3-5/build/
/10-12 Elágazás 3-5/nbproject/private/
/16u Dolgozat/build/
/16u Dolgozat/nbproject/private/